@charset "UTF-8";
@font-face {
  font-family: ClearSans;
  src: url(../fonts/ClearSans-Regular.ttf); }
@font-face {
  font-family: ClearSansBold;
  src: url(../fonts/ClearSans-Bold.ttf); }
body {
  max-width: 1920px;
  margin: 0 auto;
  font-family: ClearSans; }

.zag {
  color: #242729;
  font: 26px ClearSansBold;
  text-transform: uppercase;
  position: relative;
  line-height: 1.2;
  padding-bottom: 17px; }
  .zag:after {
    position: absolute;
    display: block;
    content: '';
    width: 95px;
    height: 8px;
    left: 0;
    bottom: 0;
    background: #1b5469;
    /* Old browsers */
    background: -moz-linear-gradient(-54deg, #1b5469 0%, #55c683 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-54deg, #1b5469 0%, #55c683 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(126deg, #1b5469 0%, #55c683 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b5469', endColorstr='#55c683',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */ }

.but {
  width: 246px;
  border-radius: 25px;
  font: 14px ClearSansBold;
  text-transform: uppercase;
  text-align: center;
  color: white;
  display: inline-block;
  padding: 10px 0;
  transition: 0.3s;
  background: #1b5469;
  /* Old browsers */
  background: -moz-linear-gradient(-60deg, #1b5469 0%, #55c683 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-60deg, #1b5469 0%, #55c683 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(120deg, #1b5469 0%, #55c683 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b5469', endColorstr='#55c683',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }
  .but:hover {
    opacity: 0.8; }
  .but.but_with_icon {
    width: 275px;
    margin: 50px 0 70px; }
    .but.but_with_icon span {
      position: relative;
      padding-left: 35px; }
      .but.but_with_icon span:before {
        content: '';
        display: block;
        left: 0;
        top: 2px;
        position: absolute;
        background-image: url(../img/but_icons.png);
        background-repeat: no-repeat; }
    .but.but_with_icon.download span:before {
      width: 19px;
      height: 15px;
      background-position: 0 0; }
    .but.but_with_icon.quest span:before {
      width: 19px;
      height: 15px;
      background-position: 0 -15px; }
    .but.but_with_icon.complex span:before {
      width: 19px;
      height: 19px;
      top: 0;
      background-position: 0 -30px; }

.sec-lvl-1 .menu-wrapp .side.right-side .flex-tel .sity-wrapp {
  cursor: pointer; }
  .sec-lvl-1 .menu-wrapp .side.right-side .flex-tel .sity-wrapp .sity-list {
    position: absolute;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
    top: 100%;
    left: 50%;
    transform: translate(-50%, 33px);
    background: #fff;
    z-index: 1; }
    .sec-lvl-1 .menu-wrapp .side.right-side .flex-tel .sity-wrapp .sity-list:before {
      content: "";
      display: block;
      position: absolute;
      top: -9px;
      left: 50%;
      transform: rotate(45deg);
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%) rotate(45deg);
      width: 18px;
      height: 18px;
      background: #fff;
      box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1); }
    .sec-lvl-1 .menu-wrapp .side.right-side .flex-tel .sity-wrapp .sity-list a, .sec-lvl-1 .menu-wrapp .side.right-side .flex-tel .sity-wrapp .sity-list span {
      display: block;
      position: relative;
      z-index: 10;
      background: #fff;
      color: #0d264e;
      text-transform: uppercase;
      text-align: center;
      font-size: 12px;
      padding: 9px 15px;
      border-bottom: 1px solid #dddddd;
      transition: 0.3s; }
      .sec-lvl-1 .menu-wrapp .side.right-side .flex-tel .sity-wrapp .sity-list a:hover, .sec-lvl-1 .menu-wrapp .side.right-side .flex-tel .sity-wrapp .sity-list span:hover {
        background: -moz-linear-gradient(-54deg, #1b5469 0%, #55c683 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(-54deg, #1b5469 0%, #55c683 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(126deg, #1b5469 0%, #55c683 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b5469', endColorstr='#55c683',GradientType=1 );
        /* IE6-9 fallback on horizontal gradient */
        color: white; }

.sec-lvl-2 .main-slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin-top: -70px;
  width: 45px;
  height: 140px;
  border: none;
  outline: none;
  z-index: 10;
  transition: 0.3s;
  background: #1b5469;
  /* Old browsers */
  background: -moz-linear-gradient(315deg, #21606c 0%, #50bb80 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(315deg, #21606c 0%, #50bb80 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(-135deg, #21606c 0%, #50bb80 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#21606c', endColorstr='#50bb80',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }
  .sec-lvl-2 .main-slider .slick-arrow:hover {
    opacity: 0.8; }
  .sec-lvl-2 .main-slider .slick-arrow.slick-prev {
    left: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; }
  .sec-lvl-2 .main-slider .slick-arrow.slick-next {
    right: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; }

#chosen {
  padding: 35px 0 110px; }
  #chosen h2 {
    color: #d9d9d9;
    font: 26px ClearSansBold;
    text-transform: uppercase;
    margin-bottom: 35px; }
  #chosen .logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 160px; }
    #chosen .logos div {
      padding: 0 23px; }
      #chosen .logos div img {
        max-width: 100%;
        filter: grayscale(100%);
        opacity: 0.2;
        transition: 0.3s; }
      #chosen .logos div.active img {
        filter: grayscale(0%);
        opacity: 1; }

#big_grey_triangle {
  position: relative;
  overflow: hidden;
  padding-top: 35px; }
  #big_grey_triangle:before {
    content: '';
    position: absolute;
    display: block;
    right: 0;
    top: -200px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1020px 860px 1020px 0;
    border-color: transparent #f6f7f7 transparent transparent; }
  #big_grey_triangle:after {
    content: '';
    position: absolute;
    right: 0;
    top: 320px;
    width: 248px;
    height: 358px;
    background: url(../img/triangle_right.png) no-repeat center; }
  #big_grey_triangle .left_triangle {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -162px;
    width: 308px;
    height: 324px;
    background: url(../img/triangle_left.png) no-repeat center; }
  #big_grey_triangle .prod_flex {
    display: flex;
    align-items: center; }
    #big_grey_triangle .prod_flex.first_prod {
      margin-top: 30px; }
    #big_grey_triangle .prod_flex .markers ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      #big_grey_triangle .prod_flex .markers ul li {
        position: relative;
        font-size: 12px;
        color: #242729;
        padding-left: 30px;
        margin-bottom: 15px; }
        #big_grey_triangle .prod_flex .markers ul li:before {
          content: '';
          width: 18px;
          height: 18px;
          display: block;
          background: url(../img/marker.png) no-repeat center;
          left: 0;
          top: 0;
          position: absolute; }
  #big_grey_triangle .prod_desc {
    color: #242729; }
    #big_grey_triangle .prod_desc h5 {
      color: #242729;
      font: 16px ClearSansBold;
      text-transform: uppercase;
      margin-bottom: 15px; }
    #big_grey_triangle .prod_desc p {
      font-size: 14px;
      line-height: 1.2;
      margin-bottom: 0;
      width: 50%; }
    #big_grey_triangle .prod_desc .price {
      font-size: 18px;
      margin-right: 25%;
      margin-bottom: 15px; }
    #big_grey_triangle .prod_desc .more {
      height: 40px; }
    #big_grey_triangle .prod_desc.third_prod .price {
      margin-right: 30%; }
  #big_grey_triangle .second_prods_zag {
    margin: 45px 0 85px; }
  #big_grey_triangle .prod2_img {
    padding-left: 65px; }
  #big_grey_triangle .prod2 {
    display: flex;
    margin-bottom: 40px; }
    #big_grey_triangle .prod2 .circle {
      width: 51px;
      height: 51px;
      background: rgba(51, 130, 115, 0.25);
      border-radius: 50px;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center; }
      #big_grey_triangle .prod2 .circle .circle_mid {
        width: 31px;
        height: 31px;
        border-radius: 30px;
        background: rgba(51, 130, 115, 0.35);
        display: flex;
        justify-content: center;
        align-items: center; }
        #big_grey_triangle .prod2 .circle .circle_mid .circle_center {
          width: 12px;
          height: 12px;
          border-radius: 12px;
          background: #338273; }
    #big_grey_triangle .prod2 .text {
      padding-left: 10px;
      color: #a3a4a6;
      line-height: 1.2; }
      #big_grey_triangle .prod2 .text h5 {
        color: #3a3d3e;
        font: 18px ClearSansBold;
        margin-top: 15px;
        margin-bottom: 20px; }
      #big_grey_triangle .prod2 .text .more {
        margin-top: 45px;
        height: 40px; }

#block_1c {
  position: relative;
  overflow: hidden;
  padding-top: 80px;
  width: 100%; }
  #block_1c:before {
    position: absolute;
    left: 50%;
    display: block;
    content: '';
    background: url(../img/1c_bg.png) no-repeat center;
    width: 1026px;
    height: 903px;
    top: 0;
    z-index: 0; }
  #block_1c .zag {
    margin-bottom: 120px; }
  #block_1c .wrap_1c {
    display: flex;
    width: 100%;
    margin-bottom: 40px; }
    #block_1c .wrap_1c .icon {
      flex-shrink: 0;
      width: 100px;
      margin-right: 40px; }
    #block_1c .wrap_1c .text {
      color: #a3a4a6;
      font-size: 14px;
      line-height: 1.2;
      padding-right: 20%; }
      #block_1c .wrap_1c .text h5 {
        color: #242729;
        font: 18px ClearSansBold;
        margin-bottom: 20px; }
  #block_1c .but_1c {
    margin-bottom: 40px;
    height: 40px; }

#reviews {
  padding-top: 65px; }
  #reviews .zag {
    margin-bottom: 90px; }
  #reviews .reviews_slider {
    padding: 0 100px;
    position: relative; }
    #reviews .reviews_slider .rev {
      outline: none;
      padding: 0 27.5px; }
      #reviews .reviews_slider .rev .rev_wrap {
        margin-top: 65px;
        display: flex; }
        #reviews .reviews_slider .rev .rev_wrap .circle {
          width: 51px;
          height: 51px;
          background: rgba(51, 130, 115, 0.25);
          border-radius: 50px;
          flex-shrink: 0;
          display: flex;
          justify-content: center;
          align-items: center; }
          #reviews .reviews_slider .rev .rev_wrap .circle .circle_mid {
            width: 31px;
            height: 31px;
            border-radius: 30px;
            background: rgba(51, 130, 115, 0.35);
            display: flex;
            justify-content: center;
            align-items: center; }
            #reviews .reviews_slider .rev .rev_wrap .circle .circle_mid .circle_center {
              width: 12px;
              height: 12px;
              border-radius: 12px;
              background: #338273; }
        #reviews .reviews_slider .rev .rev_wrap .text {
          color: #a3a4a6;
          font-size: 14px;
          line-height: 1.2;
          margin-left: 12px; }
          #reviews .reviews_slider .rev .rev_wrap .text span {
            color: #3a3d3e;
            font-size: 12px; }
          #reviews .reviews_slider .rev .rev_wrap .text h4 {
            color: #3a3d3e;
            font: 18px ClearSansBold;
            margin-bottom: 25px;
            margin-top: 5px; }
    #reviews .reviews_slider .slick-arrow {
      position: absolute;
      top: 50%;
      margin-top: -117.5px;
      width: 45px;
      height: 235px;
      border: none;
      outline: none;
      transition: 0.3s;
      background: #1b5469;
      /* Old browsers */
      background: -moz-linear-gradient(315deg, #21606c 0%, #50bb80 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(315deg, #21606c 0%, #50bb80 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(-135deg, #21606c 0%, #50bb80 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#21606c', endColorstr='#50bb80',GradientType=1 );
      /* IE6-9 fallback on horizontal gradient */ }
      #reviews .reviews_slider .slick-arrow:hover {
        opacity: 0.8; }
      #reviews .reviews_slider .slick-arrow.slick-prev {
        left: 0;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px; }
      #reviews .reviews_slider .slick-arrow.slick-next {
        right: 0;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px; }
  #reviews .reviews_slider_dots {
    overflow: hidden;
    padding-top: 65px; }
    #reviews .reviews_slider_dots ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex; }
      #reviews .reviews_slider_dots ul li {
        width: 10px;
        height: 10px;
        margin-right: 11px; }
        #reviews .reviews_slider_dots ul li button {
          background: #a0a0a0;
          border: 1px solid white;
          color: transparent;
          width: 10px;
          height: 10px;
          border-radius: 10px;
          outline: none;
          transition: 0.3s; }
        #reviews .reviews_slider_dots ul li.slick-active button {
          background: #1b5469;
          border-color: #1b5469; }

#about {
  color: #a3a4a6;
  font-size: 14px;
  padding: 65px 0 70px; }
  #about .zag {
    margin-bottom: 65px; }
  #about p {
    text-align: center;
    line-height: 1.3;
    margin-bottom: 15px; }

/* ВНУТРЕННЯЯ СТРАНИЦА */
#advantages {
  padding: 35px 0; }
  #advantages h2 {
    text-align: center;
    color: #d9d9d9;
    font: 26px ClearSansBold;
    margin-bottom: 30px; }
  #advantages .adv {
    text-align: center;
    max-width: 205px; }
    #advantages .adv .grad_text {
      font: 72px ClearSansBold;
      line-height: 1.0;
      background: linear-gradient(to right, #6c0109, #ec2b3e);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      display: inline-block; }
    #advantages .adv .grad_text:-ms-input-placeholder, #advantages .adv .grad_text:-ms-input-placeholder, #advantages .adv :root .grad_text, #advantages .adv :root .grad_text, #advantages .adv :root .grad_text {
      -webkit-text-fill-color: currentColor;
      background: none; }
    #advantages .adv p {
      color: black;
      font: 18px ClearSansBold;
      line-height: 1.0; }
    #advantages .adv.adv2 {
      margin: auto; }
    #advantages .adv.adv3 {
      margin-left: auto; }

#product_page {
  padding: 60px 0 65px;
  background: #f6f7f7;
  position: relative; }
  #product_page:before {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 248px;
    height: 358px;
    margin-top: -179px;
    background: url(../img/triangle_right.png) no-repeat center;
    background-size: cover; }
  #product_page .zag {
    margin-bottom: 30px; }
  #product_page .grey_zag {
    color: #a3a4a6;
    font-size: 16px;
    margin-bottom: 45px; }
  #product_page p, #product_page ul, #product_page ol {
    color: black;
    font-size: 16px;
    line-height: 1.2; }
  #product_page .prod_flex {
    display: flex;
    align-items: center;
    margin-top: 30px; }
    #product_page .prod_flex.first_prod {
      margin-top: 30px; }
    #product_page .prod_flex .markers ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      #product_page .prod_flex .markers ul li {
        position: relative;
        font-size: 12px;
        color: #242729;
        padding-left: 30px;
        margin-bottom: 15px; }
        #product_page .prod_flex .markers ul li:before {
          content: '';
          width: 18px;
          height: 18px;
          display: block;
          background: url(../img/marker.png) no-repeat center;
          left: 0;
          top: 0;
          position: absolute; }
  #product_page .price {
    font-size: 24px;
    margin-right: 0;
    margin-bottom: 15px; }
  #product_page .more {
    text-align: center;
    margin-top: 40px; }

#product_text {
  padding-top: 60px; }
  #product_text .zag {
    margin-bottom: 60px; }
  #product_text p, #product_text ul, #product_text ol {
    color: #242729;
    font-size: 14px; }
  #product_text .img_wrap {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 30px; }
    #product_text .img_wrap:before {
      content: '';
      display: block;
      padding-top: 55%; }
    #product_text .img_wrap .img {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: center center no-repeat;
      background-size: cover; }

/* МОДАЛКА */
.modal {
  background: rgba(232, 232, 232, 0.6); }
  .modal .modal-dialog {
    max-width: 460px;
    margin: 112px auto; }
    .modal .modal-dialog .modal-body {
      background: white;
      padding: 50px 40px 30px; }
      .modal .modal-dialog .modal-body .span_close {
        font-size: 10px;
        color: black;
        position: absolute;
        right: 20px;
        top: 17px;
        padding-right: 20px;
        cursor: pointer; }
        .modal .modal-dialog .modal-body .span_close:after {
          content: 'X';
          font-size: 10px;
          color: black;
          position: absolute;
          right: 0;
          top: 0; }
      .modal .modal-dialog .modal-body .zag {
        font-size: 18px; }
      .modal .modal-dialog .modal-body .input_wrap {
        margin-top: 40px;
        border-bottom: 1px solid #cfd7da;
        padding: 15px 0 15px 40px;
        position: relative; }
        .modal .modal-dialog .modal-body .input_wrap input {
          font-size: 14px;
          color: #a3a4a6;
          width: 100%;
          border: 0;
          outline: none; }
        .modal .modal-dialog .modal-body .input_wrap:before {
          content: '';
          position: absolute;
          left: 10px;
          top: 19px;
          width: 19px;
          height: 19px;
          background-image: url(../img/modal_form_icons.png);
          background-repeat: no-repeat; }
        .modal .modal-dialog .modal-body .input_wrap.phone:before {
          background-position: 0 0; }
        .modal .modal-dialog .modal-body .input_wrap.name:before {
          background-position: 0 -19px; }
      .modal .modal-dialog .modal-body textarea {
        margin-top: 25px;
        width: 100%;
        border: 1px solid #cfd7da;
        resize: none;
        color: #a3a4a6;
        font-size: 12px;
        padding: 20px;
        height: 80px;
        outline: none; }
      .modal .modal-dialog .modal-body input::-webkit-input-placeholder {
        color: #a3a4a6; }
      .modal .modal-dialog .modal-body input::-moz-placeholder {
        color: #a3a4a6; }
      .modal .modal-dialog .modal-body input:-moz-placeholder {
        color: #a3a4a6; }
      .modal .modal-dialog .modal-body input:-ms-input-placeholder {
        color: #a3a4a6; }
      .modal .modal-dialog .modal-body textarea::-webkit-input-placeholder {
        color: #a3a4a6; }
      .modal .modal-dialog .modal-body textarea::-moz-placeholder {
        color: #a3a4a6; }
      .modal .modal-dialog .modal-body textarea:-moz-placeholder {
        color: #a3a4a6; }
      .modal .modal-dialog .modal-body textarea:-ms-input-placeholder {
        color: #a3a4a6; }
      .modal .modal-dialog .modal-body .checkbox_wrap {
        display: flex;
        justify-content: flex-start;
        position: relative;
        overflow: hidden;
        margin-bottom: 20px;
        margin-top: 35px; }
        .modal .modal-dialog .modal-body .checkbox_wrap .check-style {
          margin-right: 15px; }
          .modal .modal-dialog .modal-body .checkbox_wrap .check-style .checkbox {
            width: 0;
            height: 0;
            display: block;
            position: absolute;
            left: -5000px;
            top: 0; }
          .modal .modal-dialog .modal-body .checkbox_wrap .check-style label {
            display: block;
            width: 18px;
            height: 18px;
            background: #fff;
            border: 3px solid #d6d6d6;
            position: relative;
            cursor: pointer; }
            .modal .modal-dialog .modal-body .checkbox_wrap .check-style label:before {
              content: "";
              display: block;
              position: absolute;
              opacity: 0;
              width: 8px;
              height: 8px;
              background: #d6d6d6;
              top: 2px;
              left: 2px; }
          .modal .modal-dialog .modal-body .checkbox_wrap .check-style .checkbox:checked + label:before {
            opacity: 1; }
        .modal .modal-dialog .modal-body .checkbox_wrap .check_label {
          color: #a3a4a6;
          font-size: 10px; }
          .modal .modal-dialog .modal-body .checkbox_wrap .check_label a {
            color: #a3a4a6;
            text-decoration: underline; }
            .modal .modal-dialog .modal-body .checkbox_wrap .check_label a:hover {
              text-decoration: none; }
      .modal .modal-dialog .modal-body .but {
        border: none;
        outline: none;
        display: block;
        margin: 40px auto 0; }

/*# sourceMappingURL=style-t.css.map */
