@font-face {
    font-family: ClearSans;
    src: url(../fonts/ClearSans-Regular.ttf);
}
@font-face {
    font-family: ClearSansBold;
    src: url(../fonts/ClearSans-Regular.ttf);
}

body {
    max-width: 1920px;
    margin: 0 auto;
    font-family: ClearSans;
}
