.sec-lvl-1{
    .menu-wrapp{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .side{
            &.left-side{
                width: 400px;
            }
            &.right-side{
                width: 400px;
            }
            .mid-side{
                .menu-list{
                    list-style: none;
                    margin: 0;
                    display: flex;
                    .first-itm{
                        padding: 32px 25px;
                        a,span{
                            cursor: pointer;
                            display: block;
                            position: relative;
                            color: #000;
                        }
                    }
                }
            }
        }
    }
}